body{
  font-family: 'Bangers', cursive;
  background-color: #D9D9D6;
  letter-spacing: 2px;
}

.header{
  text-align: right;
  background-image: url("images/degra4.png");
  border-radius: 10px;
  background-size: cover;
  padding: 30px;
  color: white;
  background-color: white;
  width:100%;
  height: auto
}

.logo{
  text-align:center;
  width:100%;
  height: auto
  padding-top: 5px;
}

.header h1 {
  color: white;
  text-align: center;
  font-size: 5vw;
  font-family: 'Bangers', cursive;

}

.toutbouton button{
  background-color: #FF0022;
  border-color: #FF0022;
  color: white;
}

.toutbouton button:hover{
  background-color: #BA0019;
}

.toutbouton{
  text-align: center;
  padding: 50px 10px 40px 10px;
  margin-right: 15px
  margin-left: 15px;
font-size: 5vw
}

.colorboton{
  color: pink;
}

.dropdown-menu{
  background-color: #FF0022;
  border-color: #FF0022;
}

.dropodonw-item{
  color: white;
}

.dropdown-menu hover{
background-color: #BA0019;
}

.titre{
  text-shadow: #9E959D 2px 2px, #9E959D -2px 2px, #9E959D -2px -2px, #9E959D 2px -2px;
  text-align: center;
  color: #FFC43D;
  font-size: 5vw;
}

.carousel h5{
color: white;
font-size: 6vw;
text-shadow: #000000 5px 5px, #000000 -5px 5px, #000000 -5px -5px, #000000 5px -5px;
}

.carouselslide{
  color: white
  text-align : center;
  font-size: 200px;
  position: absolute;
}

.soustitre{
  font-family: 'Acme', sans-serif;
  color: white;
  font-size: 20px;
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

.footer{
  padding-top: 30px;
  padding-bottom: 20px;
  background: rgb(30, 30, 30);
  color: lightgrey;
  text-align: center;
}

.fa-glass-martini-alt{
  font-size: 40px;
  color: red;
  padding-bottom: 10px;
}

.colorlogo{
  color: #FFC43D;
  font-size: 20px;
}